:root {
  --custom-brown: rgb(122, 43, 29);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1 {
  margin-bottom: 5px;
}

#img-container {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-bottom: 10px;
}

#img-container>img {
  width: 100%;
}

#pop-score {
  color: coral;
}

.voteButton,
#comment-input button,
#new-cat,
#pin-cat,
#unpin-cat {
  width: 76px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--custom-brown);
  color: white;
  border: none;
  box-shadow: 2px 2px 4px rgb(90, 29, 19);
}

.voteButton:hover,
#comment-input button:hover,
#new-cat:hover,
#pin-cat:hover,
#unpin-cat:hover {
  border: 1px solid var(--custom-brown);
  background-color: white;
  color: var(--custom-brown);
  text-shadow: 2px 2px 4px rgb(230, 129, 129);
}

#votes-container,
#image-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#image-buttons {
  margin-bottom: 5px;
}

#comment-input input {
  border-radius: 5px;
  padding: 5px;
  border-color: var(--custom-brown);
}

#post {
  box-shadow: 1px 1px 4px 4px rgb(110, 75, 75);
  border-radius: 5px;
  width: 80%;
  height: 400px;
  padding: 10px 20px;
  gap: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid var(--custom-brown);
  width: 100%;
  overflow: auto;
  gap: 20px;
}

.comment {
  width: 80%;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: rgb(110, 75, 75);
  text-align: center;
  color: white;
}

#gallery {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-content: flex-start;
  justify-content: center;
}

.gallery-image {
  display: grid;
  grid-template-rows: 80% 10%;
  justify-items: center;
  width: 177px;
  height: 250px;
}

img {
  border-radius: 5px;
}

img:hover,
.comment:hover {
  box-shadow: 2px 2px 4px var(--custom-brown);
}

.gallery-image img {
  width: 100%;
  height: 100%;
}
